@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: rgb(243, 243, 243);
}
:root {
  /* --clr-primary: rgb(64, 64, 235);
  --clr-accent: rgb(23, 23, 184); */
  /* --ff-primary: 'Rubik', sans-serif;
  --ff-secondary: Arial, Helvetica, sans-serif; */
  --fs-secondary: 0.8em;
}

footer {
  background-color: rgb(31, 30, 30);
  color: white;
  text-align: center;
  font-size: 1.3em;
  padding: 0.8em;
}

.app {
  display: flex;
  width: clamp(370px, 90%, 1400px);
  margin-inline: auto;
  justify-content: center;
  gap: 2em;
  padding: 1em;
}

@media screen and (max-width: 1400px) {
  .preview-area {
    max-height: 673.6px;
    max-width: 476px;
  }
}

@media screen and (max-width: 1280px) {
  .preview-area {
    max-height: 505.2px;
    max-width: 357px;
    min-width: 356px;
  }
  main {
    width: 40%;
  }
  section {
    min-width: 90%;
  }
  .dates {
    flex-direction: column;
  }
}

@media screen and (max-width: 700px) {
  .app {
    flex-direction: column;
    align-items: center;
    padding: 0em;
    min-width: 360px;
  }
  main {
    width: 85%;
  }
}

main {
  background-color: white;
  border-radius: 6px;
}

section {
  display: flex;
  flex-direction: column;
  margin-inline: auto;
  width: 74%;
}

form {
  margin-inline: auto;
  padding: 2em 0em;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5em;
}

.preview-area {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: white;
  border-radius: 6px;
  display: grid;
  grid-template-rows: 1fr 4fr;
  height: 842px;
  width: 595px;
  /* the above height is the size of an a4 paper, width should be 595px, h:842 */
}

.top-level {
  padding: 1em 1em 1em 1em;
  display: grid;
  grid-template-rows: 1fr 1fr;
  background-color: rgb(77, 90, 104);
  color: #fafafa;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.preview-main {
  padding: 1em;
}

.title {
  font-weight: bold;
  font-size: 2em;
  word-break: break-word;
  padding: 0.4em 0.3em 0em 0.3em;
}

.top-right {
  padding: 0em 1em 0em 1em;
}

.largestFS {
  font-size: var(--fs-secondary);
}

.education-container {
  font-size: var(--fs-secondary);
}

.small {
  font-weight: bold;
}

.dates {
  display: flex;
  padding-top: 0.5em;
  justify-content: space-evenly;
  /* flex-shrink: 0;
  height: 2em; */
}

.submit-button {
  width: 200px;
  margin-top: 1.5em;
}

.company-info,
.emailPhone,
.study-info,
.school-info {
  display: flex;
  max-width: 100%;
}

.greyed {
  color: rgb(88, 87, 87);
}

.company-divs,
.emailPhoneContainer,
.study-container {
  max-width: 50%;
  display: flex;
  flex-direction: column;
}

#companyName,
#cityName,
#emailInput,
#phoneInput,
#lengthOfStudy,
#eduCity {
  max-width: 90%;
}

.line {
  margin-top: 1em;
  margin-bottom: 1em;
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.employment {
  display: flex;
  justify-content: space-between;
  font-size: var(--fs-secondary);
}

.employment-dates {
  display: flex;
}

input,
textarea {
  background-color: rgb(197, 195, 195, 0.25);
  border: 0;
  border-radius: 4px;
}

.text-area {
  max-width: 250px;
  /* this width will need to be updated based on screen size, font size, etc. */
  overflow-wrap: break-word;
}

.preview-main {
  display: grid;
  grid-template-columns: 2.5fr 1fr;
  gap: 1em;
}

.skills-section {
  border-left: 1px solid rgb(0, 0, 0, 0.1);
  padding-left: 1.8em;
  display: flex;
  flex-direction: column;
  gap: 0.2em;
}

#skillInput {
  margin-bottom: 0.5em;
  width: 60%;
}

.add-skill {
  width: 30%;
}

.skill-list {
  font-size: var(--fs-secondary);
}

.skill-list-form-container {
  display: flex;
  flex-direction: row;
  gap: 0.2em 0.4em;
  flex-wrap: wrap;
  max-width: 432.48px;
  /* the width setting above will likely require media queries */
}

.skill-list-form {
  background-color: rgb(197, 195, 195, 0.25);
  margin-bottom: 0.3em;
}

.mail-icon,
.phone-icon,
.address-icon {
  height: 1em;
}

.email-container,
.phone-container,
.address-container {
  display: flex;
  align-items: center;
  gap: 0.5em;
}
