@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font-family: var(--ff-primary);
}

body {
  background-color: rgb(230, 230, 230);
}
:root {
  --clr-primary: white;
  --clr-inputs: rgba(167, 167, 167, 0.17);
  --clr-existing: rgb(214, 214, 214);
  --ff-primary: 'Poppins', sans-serif;
  --fs-primary: 0.9em;
  --fs-secondary: 0.75em;
  --fs-big: 1.94em;
  --fs-months: 0.81em;
  --text-area-width: 330px;
}

footer {
  background-color: black;
  color: var(--clr-primary);
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.main-title {
  text-align: center;
  font-size: 1.4em;
  padding-top: 0.5em;
  display: flex;
  justify-content: center;
  font-weight: bold;
}

.creator {
  text-align: center;
  display: flex;
  font-size: 0.8em;
  justify-content: center;
  gap: 0.3em;
  align-items: center;
  padding: 0em 0em 0.5em 0em;
}

.app {
  display: flex;
  width: clamp(370px, 90%, 1500px);
  margin-inline: auto;
  justify-content: center;
  gap: 2em;
  padding: 1em;
}

.preview-area {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: var(--clr-primary);
  display: grid;
  grid-template-rows: 1fr 4fr;
  height: 926.2px;
  max-width: 654.5px;
  min-width: 654.4px;
}

.top-level {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 0.7em 1em 1em 1em;
  display: grid;
  grid-template-rows: 1fr 0.6fr 1fr;
  background-color: #303845;
  color: #fafafa;
}

@media screen and (max-width: 1350px) {
  .preview-area {
    max-height: 825.5px;
    max-width: 585.5px !important;
    min-width: 585.5px !important;
  }
  main {
    max-width: 40%;
  }
  section {
    min-width: 90%;
  }
  :root {
    --fs-secondary: 0.63em;
    --fs-primary: 0.81em;
    --fs-big: 1.7em;
    --fs-months: 0.8em;
    --text-area-width: 300px;
  }
  .line {
    margin: 0.9em 0em 0.9em 0em !important;
  }
  .list-of-experience {
    gap: 0.6em !important;
  }
  .top-level {
    padding: 0.7em 0.9em 0.9em 0.9em !important;
  }
  .preview-main {
    padding: 0.9em !important;
  }
}

@media screen and (max-width: 1000px) {
  .preview-area {
    max-height: 643.5px;
    max-width: 456.5px !important;
    min-width: 456.25px !important;
  }
  main {
    min-width: 45%;
  }
  section {
    min-width: 90%;
  }
  .dates {
    flex-direction: column;
  }
  :root {
    --fs-secondary: 0.5em;
    --fs-primary: 0.65em;
    --fs-big: 1.4em;
    --fs-months: 0.8em;
    --text-area-width: 230px;
  }
  .skills {
    gap: 0.2em !important;
  }
  .skills-section {
    padding-left: 1.3em !important;
  }
  .line {
    margin: 0.78em 0em 0.78em 0em !important;
  }
  .list-of-experience {
    gap: 0.45em !important;
  }
  .top-level {
    padding: 0.4em 0.8em 0.8em 0.8em !important;
  }
  .preview-main {
    padding: 0.8em !important;
  }
}

@media screen and (max-width: 850px) {
  .app {
    flex-direction: column;
    align-items: center;
    padding: 0em;
    min-width: 360px;
  }
  main {
    min-width: 85%;
  }
  .preview-area {
    max-height: 757.5px;
    max-width: 535.5px !important;
    min-width: 535.5px !important;
  }
  :root {
    --fs-secondary: 0.61em;
    --fs-primary: 0.8em;
    --fs-big: 1.6em;
    --fs-months: 0.83em;
    --text-area-width: 270px;
  }
  .creator {
    font-size: 0.7em;
  }

  .main-title {
    font-size: 1.1em;
  }
}

@media screen and (max-width: 560px) {
  .preview-area {
    max-height: 643.5px;
    max-width: 456.5px !important;
    min-width: 456.25px !important;
  }
  :root {
    --fs-secondary: 0.5em;
    --fs-primary: 0.6em;
    --fs-big: 1.3em;
    --fs-months: 0.8em;
    --text-area-width: 230px;
  }
  .line {
    margin: 0.67em 0em 0.67em 0em !important;
  }
  .list-of-experience {
    gap: 0.4em !important;
  }
  .top-level {
    padding: 0.45em 0.7em 0.7em 0.7em !important;
  }
  .preview-main {
    padding: 0.68em !important;
  }
  .submit-button {
    width: 160px !important;
  }
}

@media screen and (max-width: 480px) {
  .preview-area {
    max-height: 488.36px;
    max-width: 345.11px !important;
    min-width: 345.1px !important;
  }
  main {
    min-width: 340px;
  }
  :root {
    --fs-secondary: 0.38em;
    --fs-primary: 0.45em;
    --fs-big: 1.1em;
    --fs-months: 5px;
    --text-area-width: 170px;
  }
  .skills-section {
    padding-left: 1em !important;
  }
  .line {
    margin: 0.5em 0em 0.5em 0em !important;
  }
  .list-of-experience {
    gap: 0.3em !important;
  }
  .top-level {
    padding: 0.3em 0.5em 0.5em 0.5em !important;
  }
  .preview-main {
    padding: 0.5em !important;
  }
}

main {
  background-color: var(--clr-primary);
  border-radius: 6px;
  width: 654.39px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px,
    rgb(209, 213, 219) 0px 0px 0px 1px inset;
}

section {
  display: flex;
  flex-direction: column;
  margin-inline: auto;
  width: 78%;
  border: 1px solid rgb(46, 45, 45, 0.3);
  border-radius: 8px;
  padding: 1.2em;
}

form {
  margin-inline: auto;
  padding: 2em 0em 1.2em 0em;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.9em;
}

.preview-main {
  padding: 1em;
  overflow: hidden;
}

.title {
  font-weight: bold;
  font-size: var(--fs-big);
  word-break: break-word;
  padding: 0.4em 0.3em 0em 0.3em;
  overflow: hidden;
  white-space: nowrap;
}

.headline {
  padding: 0em 0em 0em 0.5em;
  color: rgb(214, 212, 212);
  font-size: var(--fs-primary);
  overflow: hidden;
  white-space: nowrap;
}

.top-right {
  padding: 0em 1em 0em 1em;
}

.secondary-fs {
  font-size: var(--fs-secondary);
}

.small {
  font-weight: bold;
  padding-bottom: 0.3em;
}

.main-header {
  font-size: var(--fs-primary);
}

.dates {
  display: flex;
  padding-top: 0.5em;
  justify-content: space-evenly;
  gap: 0.5em;
}

.company-info,
.emailPhone,
.study-info,
.school-info {
  display: flex;
  max-width: 100%;
}

.company-info {
  overflow: hidden;
  white-space: nowrap;
}

.greyed {
  color: rgb(88, 87, 87);
}

.grey {
  background-color: var(--clr-existing);
  display: flex;
  align-items: center;
  gap: 0.4em;
  border-radius: 5px;
  padding: 0em 0.2em;
  font-size: 0.9em;
}

.company-divs,
.emailPhoneContainer,
.study-container {
  max-width: 50%;
  display: flex;
  flex-direction: column;
}

#companyName,
#cityName,
#emailInput,
#phoneInput,
#lengthOfStudy,
#eduCity {
  max-width: 90%;
}

.line {
  margin: 1em 0em 1em 0em;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.employment {
  display: flex;
  justify-content: space-between;
  font-size: var(--fs-secondary);
}

.employment-dates {
  display: flex;
  font-size: var(--fs-months);
  white-space: nowrap;
}

.list-of-experience {
  display: flex;
  flex-direction: column;
  gap: 0.7em;
}

input,
textarea {
  background-color: var(--clr-inputs);
  border: 0;
  border-radius: 4px;
}

.text-area {
  max-width: var(--text-area-width);
  overflow-wrap: break-word;
  font-size: 0.95em;
}

.preview-main {
  display: grid;
  grid-template-columns: 2.5fr 1fr;
  gap: 1em;
}

.skills-section {
  border-left: 1px solid rgb(0, 0, 0, 0.1);
  padding-left: 1.8em;
  display: flex;
  flex-direction: column;
  gap: 0.2em;
}

#skillInput {
  margin-bottom: 0.5em;
  width: 50%;
}

.add-skill {
  width: 80px;
  margin-left: 1em;
}

.skill-list-form-container {
  display: flex;
  flex-direction: row;
  gap: 0.2em 0.4em;
  flex-wrap: wrap;
  max-width: 432.48px;
}

.skill-list {
  font-size: var(--fs-secondary);
}

.skill-list-form {
  background-color: var(--clr-existing);
  margin-bottom: 0.1em;
  display: flex;
  align-items: center;
  gap: 0.2em;
  border-radius: 5px;
  padding: 0em 0.1em;
  font-size: 0.9em;
}

.add-experience,
.confirm-edits {
  width: 140px;
  margin-inline: auto;
  margin-top: 1em;
}

.add-skill,
.add-experience,
.confirm-edits {
  background-color: var(--clr-primary);
  border: 1px solid black;
  border-radius: 4px;
  padding: 0.1em 0.1em;
  color: black;
  font-weight: bold;
  font-size: 0.75em;
}

.add-skill:hover,
.add-experience:hover,
.confirm-edits:hover {
  transition: color 0.3s;
  color: #9a2fd8;
}

.confirm-edits {
  display: none;
  width: 100px;
}

.mail-icon,
.phone-icon,
.address-icon,
.delete-icon,
.button-disable,
.github-icon {
  height: 1em;
}

.email-container,
.phone-container,
.address-container {
  align-items: center;
}

.delete-icon:hover {
  filter: invert(13%) sepia(90%) saturate(6009%) hue-rotate(359deg)
    brightness(113%) contrast(114%);
  transition: filter 0.2s;
}

.button-disable:hover {
  filter: invert(51%) sepia(71%) saturate(3010%) hue-rotate(161deg)
    brightness(94%) contrast(102%);
  transition: filter 0.2s;
}

.no-dot-point {
  list-style: none;
}

.existing-experiences,
.skills {
  display: flex;
  flex-direction: column;
  gap: 0.2em;
}

.present-checkbox,
.skills,
.experiences,
.email-container,
.phone-container,
.address-container {
  display: flex;
  gap: 0.5em;
}

.experiences {
  align-items: center;
  word-break: break-word;
}

.autofill-area {
  display: flex;
  gap: 0.9em;
  align-items: center;
}

/* CSS Button Styling for 'see example' and 'clear all'*/
.autofill-btn,
.clear-example-btn {
  align-items: center;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui, -apple-system, system-ui, 'Helvetica Neue', Helvetica,
    Arial, sans-serif;
  font-size: 0.8em;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 2rem;
  padding: calc(0.6rem - 1px) calc(1rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

.autofill-btn:hover,
.autofill-btn:focus,
.clear-example-btn:hover {
  border-color: rgba(0, 0, 0, 0.25);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: rgba(0, 0, 0, 0.65);
}

.autofill-btn:hover,
.clear-example-btn:hover {
  transform: translateY(-1px);
}

.autofill-btn:active,
.clear-example-btn:active {
  background-color: #f0f0f1;
  border-color: rgba(0, 0, 0, 0.25);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}

/* CSS Button Styling for 'download as pdf' */
.submit-button {
  background-image: linear-gradient(
    92.88deg,
    #455eb5 9.16%,
    #5643cc 43.89%,
    #673fd7 64.72%
  );
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  flex-shrink: 0;
  font-family: 'Inter UI', 'SF Pro Display', -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
    sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 2.8rem;
  margin-top: 0.6em;
  padding: 0 1.2rem;
  text-align: center;
  text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
  transition: all 0.5s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.submit-button:hover {
  box-shadow: rgba(80, 63, 205, 0.5) 0 1px 30px;
  transition-duration: 0.1s;
}

@media (min-width: 768px) {
  .submit-button {
    padding: 0 1.8rem;
  }
}

/* CSS Button Styling for 'yondagonda' */
.button-64,
.github {
  align-items: center;
  background-image: linear-gradient(144deg, #af40ff, #5b42f3 50%, #00ddeb);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #ffffff;
  display: flex;
  font-family: Phantomsans, sans-serif;
  font-size: 13px;
  justify-content: center;
  line-height: 1em;
  max-width: 100%;
  min-width: 125px;
  padding: 2px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
}

.github:active,
.github:hover {
  outline: 0;
}

.github span {
  background-color: rgb(5, 6, 45);
  padding: 7px 12px;
  border-radius: 6px;
  width: 100%;
  height: 100%;
  transition: 300ms;
  display: flex;
  gap: 0.3em;
  justify-content: center;
}

.github:hover span {
  background: none;
}

@media (min-width: 850px) {
  .github {
    font-size: 15px;
    min-width: 150px;
  }
}
